<!--The content below is only a placeholder and can be replaced.-->
<!--<body>-->



<!--        <div class="jumbo">-->
<!--       <router-outlet></router-outlet>-->
<!--       </div>-->
       
       
<!--       <footer class="page-footer font-small blue">-->
       
       
<!--          <div class="footer-copyright text-center py-3">© 2018 Copyright:-->
<!--            <a href="#">SC200.com</a>-->
<!--          </div>-->
       
       
<!--        </footer>-->
<!--       </body>-->

<!--The content below is only a placeholder and can be replaced.-->
<body>
       <div class="jumbo">
      <router-outlet></router-outlet>
      </div>


      <footer class="page-footer font-small blue">
         <ul class="list-unstyled list-inline text-center">
             <li class="list-inline-item facebook-item">
               <a class="btn-floating btn-fb mx-1">
                 <i class="fa fa-facebook"> </i>
               </a>
             </li>
             <li class="list-inline-item twitter-item">
               <a class="btn-floating btn-tw mx-1">
                 <i class="fa fa-twitter"> </i>
               </a>
             </li>
             <li class="list-inline-item google-item">
               <a class="btn-floating btn-gplus mx-1">
                 <i class="fa fa-google-plus"> </i>
               </a>
             </li>
             <li class="list-inline-item linkedin-item">
               <a class="btn-floating btn-li mx-1">
                 <i class="fa fa-linkedin"> </i>
               </a>
             </li>
             <!-- <li class="list-inline-item ">
               <a class="btn-floating btn-dribbble mx-1">
                 <i class="fa fa-dribbble"> </i>
               </a>
             </li> -->
           </ul>


         <div class="footer-copyright text-center py-3">© 2018 Copyright:
           <a href="#">SC200.com</a>
         </div>


       </footer>
      </body>