<div class="card mb-3" style="max-width: 18rem;" id="container">
	<div class="card-header" style="text-align:center">
		<h4>New to SC200?</h4>
		<h4> Join Us!
		</h4>
	</div>
	<div class="card-body text-dark">
		<form class="form" method="post" action="" style="justify-content:center">
			<div class="form-row">
				<div class="col">
					<input type="text" class="form-control" placeholder="First name">
				</div>
				<div class="col">
					<input type="text" class="form-control" placeholder="Last name">
				</div>
			</div>
			<div class="col-sm-14">
				<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
			</div>
			<div class="col-sm-14">
				<input type="password1" class="form-control" id="password1" placeholder="Password">
			</div>
			<div class="col-sm-14">
				<input type="password2" class="form-control" id="password2" placeholder="Confirm Password" disabled="disabled">
			</div>
			<!-- The rotating arrow -->
			<button type="button" class="btn btn-outline-dark" style="margin-bottom:40px;">Go!</button>
			<div style="margin-top:20px;">
				<div class="arrow"></div>
			</div>
		</form>
	</div>
</div>