@media(min-width:992px){
.mynavbar {
   background: linear-gradient(to right, #ffffff 15%, #181818 70%);
}

#links .nav-link {
   width:10rem;
   margin-right: 1rem;
}

#logout .nav-link{
   margin-left: 3rem;
   margin-right: 0%
}

}
.navbar-dark .navbar-nav .nav-link{
   color: #ffffff;
}
.navbar-dark .navbar-nav .nav-link:hover{
   color: #afabab;
}
body{
  background-image: url("../../../assets/img/temp6.jpeg");
}
.jumbo{
   padding-top: 7rem;
   
}
@media(max-width:991px ){
.mynavbar {
   background: linear-gradient(to bottom, #ffffff 25%, #181818 70%);
}

.navbar-dark .navbar-toggler {
   color: #3a58dfc4;
   border-color: #314242;

}




.navbar-dark .navbar-nav .nav-link{

   margin-right: auto;
   margin-left: 2rem;


}

}
.logoimage{
   max-width: 10rem;
   max-height: 6rem;
}
.card {

   width:100%;
   padding : 10px;
   text-align: center;
   margin-bottom: 2rem;
 }

.card-body{
 width: 100%;
 text-align: center;

}