<mat-card class="user-profile">
  <mat-card-content>
    <p>
      <strong>Name : </strong> {{profile.firstName}} {{profile.lastName}}
    </p>
    <p>
      <strong>UserName : </strong> {{profile.username}}
    </p>
    <p>
      <strong>Email-id : </strong> {{profile.email}}
    </p>
    <p>
      <strong>Contact Num : </strong> {{profile.phone}}
    </p>
    <p>
      <strong>Score : </strong> {{profile.score}}
    </p>
    <p>
      <strong>Rank : </strong> {{profile.ranking}}
    </p>
  </mat-card-content>
</mat-card>