<div id="main">
		<div class="card mb-3" style="max-width: 18rem;" id="container">
			<div class="card-header"><h3>New to SC200?
				Join Us!
			</h3></div>	
			<div class="card-body text-dark">
			      	
	<form class="" method="post" action="">
		
			<div class="form-row">
					<div class="col">
					  <input type="text" class="form-control" placeholder="First name">
					</div>
					<div class="col">
					  <input type="text" class="form-control" placeholder="Last name">
					</div>
				  </div>
				  <div class="col-sm-14">
						<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
					  </div>
					  <div class="col-sm-14">
							<input type="password1" class="form-control" id="password1" placeholder="Password">
						  </div>

		<!-- The rotating arrow -->
		<div class="arrow"></div>
		
		<button type="button" class="btn btn-outline-dark" style="margin-bottom:40px;">Register</button>
		
	</form>
</div>
</div>
</div>


