

<div class="outer1">
 <div class="topic">

   <div class="row" >
     <div class="col-md-8">
       <dt>Topic:</dt> <dd>{{completechallenge1.topic}} </dd>
     </div>
     <div class="col-md-4">
       <dt>Max score:</dt><dd>{{completechallenge1.maxScore}}</dd>
     </div>
   </div>

 </div>

 <div class="">
   <dl class=" list-group complete-challenge">



         <div class="list-group-item ">


             <dt >Complete Description : </dt>
            <dd> {{completechallenge1.challengeStatement}}</dd>
           <br>

         </div>
         <div class="list-group-item">
             <dt>Constraint:</dt><br>
           <dd>{{completechallenge1.constraints}}</dd>
         </div>


           <div class="list-group-item">
               <dt>Input format:</dt>
               <br><dd>{{completechallenge1.inputFormat}}</dd>
           </div>


           <div class="list-group-item">
               <dt>Output format:</dt><br>
               <dd>{{completechallenge1.outputFormat}}</dd>

           </div>





   </dl>
 </div>
</div>