.card {

   width:100%;
   padding : 10px;
   text-align: center;
   margin-bottom: 2rem;
 }

.card-body{
 width: 100%;
 text-align: center;

}
.card-text{
   margin-left: 1em;
 }
 .challengecard{
   min-height: 10rem;
 }


  * {
     font-size: 1rem;
 }