<mat-chip-list *ngIf="fileName">
  <mat-chip selected>{{fileName}}</mat-chip>
</mat-chip-list>
<monaco-editor
  [options]="options"
  [file]="file"
  (fileChange)="onFileChange($event)"
  id="editor"
></monaco-editor>
<button class="btn btn-success" style="margin:0.5rem;" (click)="saveCode()">Save</button>
<button class="btn btn-outline-success" style="margin:0.5rem;" (click)="compileCode()">compile</button>
<p>{{ httpResponse }}</p>
<button class="btn btn-success" mat-flat-button type="submit" style="margin:0.5rem;" (click)="submit()">Submit!</button>
