<nav class="navbar navbar-dark bg-dark mb-5">
  <!-- <a class="navbar-brand" href="/">Sc200</a> -->
  <div class="navbar-expand mr-auto">
     <div class="navbar-nav">
      
    </div> 
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">

          
          
      <p><a [routerLink]="['/register']" class="btn btn-outline-success my-2 my-sm-0" >Sign Up</a>
      </p>
      <p><a [routerLink]="['/login']"class="btn btn-outline-success my-2 my-sm-0">Sign In</a></p>
       
    </div>
  </div>
</nav>